.Profile_popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 0px 20px 60px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -5px 5px 8px -5px #333;
    position: fixed;
    top: 64px;
    right: 0%;
    background-color: white;
}

.Profile_Pic_popup {
    border-radius: 50%;
    height: 140px;
    width: 140px;
    object-fit: cover;
    place-items: center;
}

.Profile_popup_nickname {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.Profile_popup_username {
    font-size: 1rem;
    margin: 0;
}

.Edit_Profile_pop_btn {
    font-size: 1.2rem;
    border: none;
    background-color: var(--brown4);
    color: var(--brown1);
    border-radius: 10px;
    padding: 8px 16px;
    margin: 24px 0 0;
    cursor: pointer;
    text-decoration: none;
}

.Edit_Profile_pop_btn:hover {
    background-color: var(--brown2);
    color: white;
}

.logout_pop_btn {
    font-size: 1.2rem;
    border: none;
    color: var(--brown1);
    border-radius: 10px;
    padding: 8px 16px;
    margin: 24px 0 0;
    cursor: pointer;
    text-decoration: none;
}

.close_Profile_pop {
    display: block;
    position: relative;
    font-size: 3rem;
    color: var(--brown3);
    right: 42%;
}

.close_Profile_pop:hover {
    color: var(--brown1);
    text-decoration: none;
    cursor: pointer;
}

.hiddenPopUp {
    display: none;
}

@media only screen and (max-width: 768px) {
    .Profile_popup{
        display: none;
    }
}