.personal-left {
    width: 45%;
    flex-grow: 1;
    display: flex;
    max-width: 200px;
    align-items: center;
    justify-content: center;
}

.personal-right {
    width: 45%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.personal-container {
    display: flex;
    flex-direction: row;
    /* padding: 200px; */
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 100px 0;
}
/* 
.personal-container .personal-left .personal-pic img {
    height: auto;
    width: 100%;
    height: auto;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
} */

.personalinfo_box {
    max-width: 1200px;
    width: 900px;
    padding: 20px 20px 40px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
}

.personalinfo_box h1, h2, h3 {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 18px;
    text-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
  }

.personal-form_container {
    /* margin-top: 18px; */
    display:grid;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    
}

.personal-name_container {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 18px;   
}

.personal-gender_container label {
    display: flex;
    border: 0px ridge;
    border-radius: 8px;
    text-align: center;
    gap: 10px;
    margin-top: 18px;
    padding: 12px 200px;
    font-family: 'Prompt', sans-serif;
    font-size: small;
    font-weight: lighter;
    color: white;
    background-color: orange;
}

.personal-form_container input[type="text"],
 .personal-form_container input[type="date"], .personal-form_container input[type="number"] {
    border: 1px ridge;
    border-radius: 8px;
    padding: 10px 12px;
    width: 100%;
    text-align: center;
}

.personal-form_container select {
    border: 1px ridge;
    border-radius: 8px;
    padding: 10px 12px;
    width: 100%;
    text-align: center;
}

.personal-button_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profile-from-btn {
    background-color: gray;
    border: 2px transparent;
    border-radius: 8px;
    padding: 12px 200px;
    color: white;
    transition: 0.3s;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .personalinfo_box {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
}

@media only screen and (max-width: 545px) {
    .personal-name_container {
        flex-wrap: wrap
    }
}