.add-activity-card {
    display: block;
    min-width: 250px;
    min-height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--brown4);
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.add-activity-card button {
    font-size: 100px;
    color: var(--brown2);
    line-height: 64px;
    text-decoration: none;
    padding: 36px 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.add-activity-card:hover {
    transition: transform 0.15s;
    transform: scale(1.05);
}