.register-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 0;
}

.register_box {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
}

.register_box h1 {
    text-align: center;
  }

.register-form_container {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    width: 100%;
}

.register-name_container {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 18px;        
}

.register-form_container input[type="text"], .register-form_container input[type="password"], .register-form_container input[type="email"] {
    padding: 12px 8px;
    border: 1px ridge;
    border-radius: 8px;
    width: 100%;
    margin-top: 20px;
    
}

.register-form_container label {
    justify-content: start;
}

.register-button_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.register-btn {
    background-color: gray;
    border: 2px transparent;
    border-radius: 8px;
    padding: 12px 200px;
    color: white;
    transition: 0.3s;
    width: 100%;
}