img {
    height: 150px;
    width: 150px;
    height: auto;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    object-fit: cover;
    place-items: center;

}

.userprofile_box {
    justify-content: flex;
    text-align: center;
}