.activity-from-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 0;
}

.exercise_box {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
}

.exercise_box h1 {
    text-align: center;
  }

.activity-from-form_container {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.activity-from-form_container select {
    text-align: start;
    padding: 12px 12px;
    border: 1px ridge;
    border-radius: 8px;
}

.activity-from-form_container input[type="text"], .activity-from-form_container input[type="date"], .activity-from-form_container input[type="time"] {
    padding: 12px 12px;
    border: 1px ridge;
    border-radius: 8px;
}

.activity-from-form_container label, .activity-from-form_container label[type="text"], .activity-from-form_container label[type="date"], .activity-from-form_container label[type="label"]{
    justify-content: start;
    font-size: small;
    text-align: start;
}

.activity-from-button_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.activity-from-btn {
    background-color: gray;
    border: 2px transparent;
    border-radius: 8px;
    padding: 12px 200px;
    color: white;
    transition: 0.3s;
    width: 100%;
}

.activity-from-btn:hover {
    background-color: var(--brown2)
}

.activity-from-btn:focus {
    cursor: pointer;
}